@CHARSET "UTF-8";

body {
	background-color: #CCFFCC;
}

h2 {
	background-color: #99EECC;
	padding: 0.3em;
	margin: 0.3em 0px;
}

div.layout {
	width: 78%;
}

aside.widget {
	width: 20%;
	float: right;
	font-size: 90%;
}

aside.widget h2 {
	font-size: 100%;
}

footer ul {
	list-style :none;
	padding: 0px;
	margin: 0px;
}

footer ul li {
	float: left;
	margin-right: 1em;
}

nav.paging {
	margin-top: 2em;
	font-size: 90%;
}

nav.paging p.page_no {
	margin-bottom: 0px;
}

nav.paging p.navi {
	margin-top: 0.5em;
}

section.twitter {
	margin-bottom: 1.5em;
}

section.twitter .text {
	word-wrap: break-word;
}

nav.tags ul {
	margin: 0.5em 0px;
}

.content header {
	font-size: 90%;
}

.content p.tags {
	margin: 0px;
	float: right;
}

.content p.date {
	margin: 0px;
}

.content div.summary, .content div.text {
	margin: 1em 0px;
	word-wrap: break-word;
}
